.error{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:70%;
}

.error{
    color:white;    
}

.error button{
    color:white;    
    border:0;
    border-radius:5px;
    padding:15px;
    background-color: rgba(97, 94, 94, 0.71);
}

.error button:hover{
    background-color: rgba(40, 39, 39, 0.71);
}

.error img{
    height:300px;
    width:300px;
    margin-bottom:10px;
}